In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("bank.csv")

In [3]:
dataset.head(1)

   age     job  marital  education  ... pdays  previous poutcome deposit
0   59  admin.  married  secondary  ...    -1         0  unknown     yes

[1 rows x 17 columns]

In [4]:
dataset.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [5]:
dataset.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [6]:
x  = dataset.iloc[:,0:16].values

In [7]:
y = dataset.iloc[:,16].values

In [8]:
x.shape

(11162, 16)

In [9]:
x

array([[59, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [56, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [41, 'technician', 'married', ..., -1, 0, 'unknown'],
       ...,
       [32, 'technician', 'single', ..., -1, 0, 'unknown'],
       [43, 'technician', 'married', ..., 172, 5, 'failure'],
       [34, 'technician', 'married', ..., -1, 0, 'unknown']], dtype=object)

In [10]:
dataset["poutcome"].unique()

array(['unknown', 'other', 'failure', 'success'], dtype=object)

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset["job"] = le.fit_transform(dataset["job"])
dataset["marital"] = le.fit_transform(dataset["marital"])
dataset["education"] = le.fit_transform(dataset["education"])
dataset["default"] = le.fit_transform(dataset["default"])
dataset["housing"] = le.fit_transform(dataset["housing"])
dataset["loan"] = le.fit_transform(dataset["loan"])
dataset["month"] = le.fit_transform(dataset["month"])

In [12]:
dataset.head(1)

   age  job  marital  education  ...  pdays  previous  poutcome  deposit
0   59    0        1          1  ...     -1         0   unknown      yes

[1 rows x 17 columns]

In [13]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("oh",OneHotEncoder(),[1,2,3,4,6,7,8,10,15])],remainder = "passthrough")
x = ct.fit_transform(x)

In [14]:
x

array([[1.0, 0.0, 0.0, ..., 1, -1, 0],
       [1.0, 0.0, 0.0, ..., 1, -1, 0],
       [0.0, 0.0, 0.0, ..., 1, -1, 0],
       ...,
       [0.0, 0.0, 0.0, ..., 2, -1, 0],
       [0.0, 0.0, 0.0, ..., 2, 172, 5],
       [0.0, 0.0, 0.0, ..., 1, -1, 0]], dtype=object)

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=10000)

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [17]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
ypred = logreg.predict(x_test)

In [19]:
ypred

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [20]:
y_test

array(['no', 'no', 'yes', ..., 'no', 'no', 'no'], dtype=object)

In [22]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(ypred,y_test)

In [23]:
accuracy

0.8320644872369011

In [24]:
logreg.predict(ct.transform([[18,"services","single","secondary","no",2333,"yes","no","telephone",34,"jul",500,5,1,-1,"unknown"]]))

array(['yes'], dtype=object)

In [25]:
x_train.shape

(8929, 51)

In [26]:
y_train.shape

(8929,)