In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv(r"C:\Users\Chinmai\Downloads\Fish.csv")

In [3]:
dataset.head(1)

  Species  Weight  Length1  Length2  Length3  Height  Width
0   Bream   242.0     23.2     25.4     30.0   11.52   4.02

In [4]:
dataset.isnull().any()

Species    False
Weight     False
Length1    False
Length2    False
Length3    False
Height     False
Width      False
dtype: bool

In [5]:
dataset.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le  = LabelEncoder()
dataset["Species"] = le.fit_transform(dataset["Species"])

In [7]:
dataset.head()

   Species  Weight  Length1  Length2  Length3   Height   Width
0        0   242.0     23.2     25.4     30.0  11.5200  4.0200
1        0   290.0     24.0     26.3     31.2  12.4800  4.3056
2        0   340.0     23.9     26.5     31.1  12.3778  4.6961
3        0   363.0     26.3     29.0     33.5  12.7300  4.4555
4        0   430.0     26.5     29.0     34.0  12.4440  5.1340

In [8]:
x = dataset.iloc[:,2:7].values

In [9]:
y = dataset.iloc[:,1].values

In [10]:
x.shape

(159, 5)

In [36]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2 , random_state=100)

In [49]:
x_train.shape

(127, 90)

In [37]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
ypred = mlr.predict(x_test)

In [39]:
ypred

array([155.51414559, 481.51657307, 770.57999847, 566.7948203 ,
       400.63783379, 668.50811567, 774.42112245, 300.92851839,
        20.96288309, 187.41807155, 919.57563177, -23.93423661,
       732.1695799 , 919.31713338, 687.72635559, 124.70253245,
        96.80712408, 116.10564328, 690.16101442, 219.62321317,
       412.57036108, 776.41845141, 140.81654431,  19.48924611,
        95.98172385, -42.397277  , 952.63781681, 652.21564356,
       756.90799588,  92.3895667 ,  63.25915794,  -2.94652601])

In [40]:
y_test

array([ 160. ,  500. , 1000. ,  600. ,  390. ,  700. ,  770. ,  290. ,
         13.4,  180. ,  955. ,   32. ,  720. , 1000. ,  650. ,  130. ,
        110. ,    0. ,  800. ,  265. ,  390. ,  925. ,  130. ,    9.7,
        140. ,   19.9, 1000. ,  575. ,  850. ,  100. ,  200. ,    9.9])

In [41]:
x_test

<32x90 sparse matrix of type '<class 'numpy.float64'>'
	with 160 stored elements in Compressed Sparse Row format>

In [42]:
from sklearn.metrics import r2_score
accuracy = r2_score(ypred,y_test)

In [43]:
accuracy

0.953294991878565

In [44]:
mlr.predict(le.transform[[30,30,30,10,4]])

TypeError: 'method' object is not subscriptable

In [46]:
dataset.head()

   Species  Weight  Length1  Length2  Length3   Height   Width
0        0   242.0     23.2     25.4     30.0  11.5200  4.0200
1        0   290.0     24.0     26.3     31.2  12.4800  4.3056
2        0   340.0     23.9     26.5     31.1  12.3778  4.6961
3        0   363.0     26.3     29.0     33.5  12.7300  4.4555
4        0   430.0     26.5     29.0     34.0  12.4440  5.1340